cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
filelock==3.9.0
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-dialogflow==2.23.2
googleapis-common-protos==1.60.0
grpcio==1.56.2
grpcio-status==1.56.2
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
mpmath==1.2.1
networkx==3.0
proto-plus==1.22.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
requests==2.31.0
rsa==4.9
six==1.16.0
sounddevice==0.4.6
soundfile==0.12.1
sympy==1.11.1
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
typing_extensions==4.4.0
urllib3==1.26.16
